{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "arrowParens": "always",
  "cursorOffset": -1
}